nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  padding-block: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px; /*16 + 8*/
  padding-block: 8px; /*Espaço de blocos*/
}

nav ul li:last-child img { /*Estou pegando apenas o último filho*/
  width: 40px;
  height: 40px;
  object-fit: cover; /* Se sua img for quadrada e ficar desfocada*/
}